<h4>Enter Information</h4>
  <% if @forum.errors.any? %>
   <div id="error_explanation">
      <h2>
        <%= pluralize(@forum.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @forum.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>  
  <% end %>

 <%= form_with(model: @forum, local: true ,url: confirm_forums_path) do |form| %>
    <%= form.label :name%>
    <%= form.text_field :name, class: "form-control" %> 

    <%= form.label :description%>
    <%= form.text_field :description, class: "form-control" %> 

  <%= form.submit "Create", class: "btn btn-success" %>
<% end %>

 <%= link_to "Retour à la list", forum_path, class: "btn btn-secondary" %> 
